body {
    font-family: 'Segoe UI', 'Noto Sans', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #CCC;
    color: #000;
}

.header,
.footer {
    text-align: center;
    margin: 20px;
}

.imgs {
    border: 1px solid #aaa;
    width: 70%;
    text-align: center;
    margin: auto;
}

.sticker {
    padding: 10px;
    max-width: 200px;
    max-height: 200px;
}

#src {
    display: none;
}