body {
    font-family: 'Segoe UI', 'Noto Sans', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px;
    margin: auto;
}

header,
footer {
    text-align: center;
    margin: 20px;
}

.imgs {
    border: 1px solid #aaa;
    width: 100%;
    text-align: center;
}

.sticker {
    padding: 10px;
    max-width: 200px;
    max-height: 200px;
}

#search {
    margin: auto;
}