body {
    font-family: sans-serif;
    max-width: 1600px;
    margin: auto;
}

header,
footer {
    text-align: center;
    margin: 20px;
}

.imgs {
    border: 1px solid #aaa;
    width: 100%;
    border-radius: .6rem;
    text-align: center;
}

.sticker {
    padding: 1em;
    max-width: 16em;
    max-height: 16em;
    filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.5));
}

#search {
    margin: auto;
}